<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div
    class="p-5 bg-image"
    style="
      background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
      height: 300px;
    "
  ></div>
  <!-- Background image -->

  <div
    class="card mx-4 mx-md-5 shadow-5-strong"
    style="
      margin-top: -100px;
      background: hsla(0, 0%, 100%, 0.8);
      backdrop-filter: blur(30px);
    "
  >
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Update Profile:</h2>
          <h4 class="bg-danger" *ngIf="this.updateError">
            There was an error updating your profile
          </h4>
          <form [formGroup]="updateForm">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input
                    type="text"
                    id="first-name"
                    class="form-control"
                    formControlName="firstNameControl"
                  />
                  <label class="form-label" for="first-name">First name</label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input
                    type="text"
                    id="last-name"
                    class="form-control"
                    formControlName="lastNameControl"
                  />
                  <label class="form-label" for="last-name">Last name</label>
                </div>
              </div>
            </div>

            <!-- Email input -->
            <div class="form-outline mb-4">
              <input
                type="text"
                id="email"
                class="form-control"
                formControlName="emailControl"
              />
              <label class="form-label" for="email">Email address</label>
            </div>

            <!-- Submit button -->
            <a (click)="updateProfile()" class="btn btn-primary btn-block mb-4">
              Update Profile
            </a>

            <h2 class="fw-bold mb-5">Update Password:</h2>
            <!-- Password input -->
            <div class="form-outline mb-4">
              <input
                type="password"
                id="oldPassword"
                class="form-control"
                formControlName="oldPasswordControl"
              />
              <label class="form-label" for="oldPassword">Old Password</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input
                type="password"
                id="password"
                class="form-control"
                formControlName="passwordControl"
              />
              <label class="form-label" for="password">New Password</label>
            </div>
            <a
              (click)="updatePassword()"
              class="btn btn-primary btn-block mb-4"
            >
              Update Password
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
