<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div
    class="p-5 bg-image"
    style="
      background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
      height: 300px;
    "
  ></div>
  <!-- Background image -->

  <div
    class="card mx-4 mx-md-5 shadow-5-strong"
    style="
      margin-top: -100px;
      background: hsla(0, 0%, 100%, 0.8);
      backdrop-filter: blur(30px);
    "
  >
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Sign In</h2>
          <h4 class="bg-danger" *ngIf="this.signinError">
            There was an error signing in, please check credentials and try
            again.
          </h4>
          <form [formGroup]="signinForm">
            <!-- Email input -->
            <div class="form-outline mb-4">
              <input
                type="text"
                id="email"
                class="form-control"
                formControlName="emailControl"
              />
              <label class="form-label" for="email">Email address</label>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input
                type="password"
                id="password"
                class="form-control"
                formControlName="passwordControl"
              />
              <label class="form-label" for="password">Password</label>
            </div>

            <!-- Submit button -->
            <a (click)="Signin()" class="btn btn-primary btn-block mb-4">
              Sign in
            </a>
            <a class="btn btn-primary btn-block mb-4 ms-4" routerLink="/signup">
              Sign up
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
