<!-- Section: Design Block -->
<section class="text-center">
  <!-- Background image -->
  <div
    class="p-5 bg-image"
    style="
      background-image: url('https://mdbootstrap.com/img/new/textures/full/171.jpg');
      height: 300px;
    "
  ></div>
  <!-- Background image -->

  <div
    class="card mx-4 mx-md-5 shadow-5-strong"
    style="
      margin-top: -100px;
      background: hsla(0, 0%, 100%, 0.8);
      backdrop-filter: blur(30px);
    "
  >
    <div class="card-body py-5 px-md-5">
      <div class="row d-flex justify-content-center">
        <div class="col-lg-8">
          <h2 class="fw-bold mb-5">Add Movie</h2>
          <h4 class="bg-danger" *ngIf="this.addMovieError">
            There was an error adding movie, please try again
          </h4>
          <form [formGroup]="addMovieForm">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row">
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input
                    type="text"
                    id="title"
                    class="form-control"
                    formControlName="titleControl"
                  />
                  <label class="form-label" for="title">Title</label>
                </div>
              </div>
              <div class="col-md-6 mb-4">
                <div class="form-outline">
                  <input
                    type="text"
                    id="description"
                    class="form-control"
                    formControlName="descriptionControl"
                  />
                  <label class="form-label" for="descrption">Description</label>
                </div>
              </div>
            </div>

            <!--div class="form-outline mb-4">
              <input
                type="text"
                id="rating"
                class="form-control"
                formControlName="ratingControl"
              />
              <label class="form-label" for="rating">Rating</label>
            </div-->
            <div class="form-outline mb-4">
              <select
                class="form-select"
                aria-label="Default select example"
                formControlName="ratingControl"
              >
                <option value="{{ rating.G }}">
                  {{ ratingsMapper[rating.G] }}
                </option>
                <option value="{{ rating.PG }}">
                  {{ ratingsMapper[rating.PG] }}
                </option>
                <option value="{{ rating.PG13 }}">
                  {{ ratingsMapper[rating.PG13] }}
                </option>
                <option value="{{ rating.R }}">
                  {{ ratingsMapper[rating.R] }}
                </option>
                <option value="{{ rating.NC17 }}">
                  {{ ratingsMapper[rating.NC17] }}
                </option>
              </select>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <input
                type="text"
                id="dailyRate"
                class="form-control"
                formControlName="dailyRateControl"
              />
              <label class="form-label" for="dailyRate">Daily Rate</label>
            </div>

            <!-- Submit button -->
            <a (click)="AddMovie()" class="btn btn-primary btn-block mb-4">
              Add Movie
            </a>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
