<app-navbar></app-navbar>
<div class="container-fluid" style="margin-top:70px;">
  <div *ngFor="let movie of movies">
    <div *ngIf="movie.IsAvailable" class="row mt-2">  
      <div class="col">
        <div class="row">
          <div class="col fw-bold">Title</div>
          <div class="col fw-bold">Available</div>
          <div class="col fw-bold">Rating</div>
          <div class="col fw-bold">Daily Rate</div>
          <div class="col fw-bold"></div>
        </div>
        <div class="row">    
          <div class="col">{{movie.Title}}</div>
          <div class="col">{{movie.IsAvailable}}</div>
          <div class="col">{{movie.Rating}}</div>
          <div class="col">{{movie.DailyRate}}</div>
          <div class="col"><button type="button" class="btn btn-primary" (click)="addToCart(movie.Id)">Rent Me!</button></div>
        </div>
      </div>
      <div class="row">
        <div class="col fw-bold">Description</div>
      </div>
      <div class="row">    
        <div class="col">{{movie.Description}}</div>
      </div>
      <hr class="border-2 border-top">
    </div>
  </div>
</div>